//bacgrounds
$body-bg: #ff55;
$secondary-bg: #F2F2F2;


//fonts
$font-main: 'Oswald', 'Helvetica', sans-serif;
$font-submain: 'Lato', 'Helvetica', sans-serif;

//Breakpoints
$tablet: 768px;
$desktop: 1440px;

//Color
$brand-color: #68B738;
$secondary-color: #F2F2F2;
$dark-color: #000000;
$light-color: #ffffff;



//gatters
$gatter-X-mobile: 20px;
$gatter-X-tablet: 30px;
$gatter-X-desktop: 110px;
