//bacgrounds
$body-bg: #ff55;
$secondary-bg: #F2F2F2;


//fonts
$font-main: 'Oswald', 'Helvetica', sans-serif;
$font-submain: 'Lato', 'Helvetica', sans-serif;

//Breakpoints
$tablet: 768px;
$desktop: 1440px;

//Color
$brand-color: #68B738;

//gatters
$gatter-X-mobile: 20px;
