//bacgrounds
$body-bg: #ff55;
$secondary-bg: #F2F2F2;


//fonts
$font-family-title: 'Oswald', 'Helvetica', sans-serif;
$font-family-descr: 'Lato', 'Helvetica', sans-serif;

//Breakpoints
$tablet: 769px;
$desktop: 1440px;

//Color
$color-brand:#68B738D9;

