.advantage__title{
    @include font(36px, 40px, 400, $font-main);
    margin-bottom: 40px;
    margin-top: 0;
}

.advantage__list {
    padding: 0;
    margin-top: 0;
}

.advantage__item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.advantage__item:last-child{
    margin-bottom: 49px;
}

.advantage__icon{
    width: 60px;
    height: 60px;
}

.advantage__descr {
    margin: 0;
    padding-left: 20px;
    @include font(14px, 18px, 400, $font-submain);
    max-width: 200px;
}