.advantage__title {
    @include font(36px, 40px, 400, $font-main);
    margin-bottom: 40px;
    margin-top: 0;
    @include media($tablet) {
        @include font(60px, 60px, 400, $font-main);
        margin-bottom: 72px;
    }
}

.advantage__list {
    counter-reset: list;
    padding: 0;
    margin: 0;
    list-style-type: none;
    @include media($tablet) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 130px;
        margin-bottom: 0;
        padding-bottom: 100px;
    }
}

.advantage__item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    @include media($tablet) {
        position: relative;
        display: block;
        margin-bottom: 0;
    }
}

.advantage__item:last-child {
    margin-bottom: 49px;
    @include media($tablet) {
        margin-bottom: 0;
    }
}

.advantage__item::before {
    @include media($tablet) {
        counter-increment: list;
        content: counter(list);
        position: absolute;
        @include font(280px, 200px, 400, $font-main);
        color: #F2F2F2;
        right: 0;
        top: 0;
        z-index: -1;
    }
}

.advantage__icon {
    width: 60px;
    height: 60px;
    @include media($tablet) {
        width: 80px;
        height: 80px;
    }
}

.advantage__descr {
    margin: 0;
    padding-left: 20px;
    @include font(14px, 18px, 400, $font-submain);
    max-width: 204px;
    @include media($tablet) {
        padding-left: 0;
        @include font(16px, 24px, 400, $font-submain);
    }
}
