.apps {
    margin-bottom: 34px;
    @include media($tablet) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 54px;
    }
    @include media($desktop) {
        grid-template-columns: repeat(4, 1fr);
    }
}

.app {
    display: flex;
    align-items: center;
    padding-bottom: 12px;
    @include media($tablet) {
        padding-bottom: 32px;
    }
}

.app:last-child {
    padding-bottom: 0;
}

.app--inline {
    @include media($tablet) {
        width: 200px;
        max-width: 500px;
        margin: 0 auto;
    }
}

.app__psevdo {
    display: block;
    width: 30px;
    height: 30px;
    position: relative;
    flex-shrink: 0;
    border: 1px solid #CDCDCD;
    position: relative;
    margin-right: 16px;
    @include media($desktop) {
        &:hover{
            border-color: #BABABA;
        }
    }
}

.app__psevdo:after {
    content: "";
    position: absolute;
    inset: 6px;
    border-radius: 50%;
    background-color: #000;
    transform: scale(0);
    opacity: 0;
    transition: transform 0.2s ease, opacity 0.2s ease;
    background: url('../img/tick.svg') no-repeat center center;
}

.app__origin:checked ~ .app__psevdo:after {
    transform: scale(1);
    opacity: 1;
}

.app__origin {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.app__label {
    @include font(16px, 18px, 400, $font-main);
    text-transform: uppercase;
    color: #000000;
    @include media($tablet) {
        @include font(20px, 30px, 400, $font-main);
    }
}

.app__heading {
    @include media($tablet) {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}

.app__descr {
    @include font(14px, 16px, 400, $font-submain);
    color: #000000;
    margin: 0;
    text-align: center;

}
