.benefits {
    background-color: #EAEAEA;
    padding-left: $gatter-X-mobile;
    padding-right: $gatter-X-mobile;
    padding-top: 25px;
    padding-bottom: 40px;
    @include media($tablet) {
        background-color: #ffffff;
        padding-left: 0;
        padding-right: 0;
        padding-top: 48px;
        padding-bottom: 0;
    }
}

.benefits__title {
    margin-top: 0;
    margin-bottom: 40px;
    @include font(36px, 40px, 400, $font-main);
    @include media($tablet) {
        @include font(60px, 60px, 400, $font-main);
        margin-bottom: 63px;
        padding-left: $gatter-X-tablet;
        padding-right: $gatter-X-tablet;    
    }
}

.benefits__descr {
    margin-top: 0;
    margin-bottom: 20px;
    @include font(14px, 18px, 400, $font-submain);
    @include media($tablet) {
        @include font(16px, 24px, 400, $font-submain);
        margin-bottom: 50px;
        padding-left: $gatter-X-tablet;
        padding-right: $gatter-X-tablet;    
    }
}

.benefits__wrap{
    @include media($tablet) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 100px;
        padding-left: $gatter-X-tablet;
        padding-right: $gatter-X-tablet;    
    }
}

.benefits__list{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 22px;
    margin-bottom: 26px;
    @include media($tablet) {
        column-gap: 13px;
        margin: 0;
    }
}

.benefits__item{
    list-style: none;
    border: 1px solid #CDCDCD;
    border-radius: 3px;
    padding: 15px 32px;
    text-align: center;
    @include media($tablet) {
        padding: 19px ;
    }
}

.benefits__item-time{
    padding: 15px 21px;
    @include media($tablet) {
        padding: 18px 17px;
    }
}

.benefits__item-title{
    @include font(24px, 24px, 400, $font-main);
    text-transform: uppercase;
    margin: 0;
    @include media($tablet) {
        @include font(30px, 37px, 400, $font-main);
    }
}


.benefits__item-descr{
    @include font(12px, 12px, 400, $font-submain);
    max-width: 60px;
    margin: 0 auto;
    transform: translateY(calc(50% + 14px));
    background-color: #EAEAEA;
    margin-top: -14px;
    @include media($tablet) {
        @include font(14px, 14px, 400, $font-submain);
        background-color: #ffffff;
        max-width: 142px;
        padding-top: 3px;
        padding-left: 10px;
        padding-right: 10px;
    }
}

.benefits__subtitle{
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
    @include font(14px, 20px, 400, $font-main);
    text-transform: uppercase;
    @include media($tablet) {
        @include font(20px, 20px, 400, $font-main);
        margin-bottom: 0;
        max-width: 174px;
        text-align: right;
    }
}
