.btn {
    border: 0;
    background-color: transparent;
    text-decoration: none;
    @include font(16px, 24px, 400, $font-main);
    cursor: pointer;
    border-radius: 0;
    padding: 8px 38px;
    display: inline-block;
    vertical-align: top;
    text-transform: uppercase;
    transition: background-color 0.2s ease, color 0.2s ease, opacity 0.2s ease;
    color: #444444;
}

.btn--brand {
    color: #ffffff;
    background-color: $brand-color;
    &:active {
        background-color: ffffff;
        color: rgba(255, 255, 255, 0.3);
    }
    @include media($desktop) {
        &:hover {
            background-color: #5EAA2F;
        }
    }
}

.btn--secondary {
    color: #444444;
    background-color: #f2f2f2;
    &:active {
        color: rgba(68, 68, 68, 0.3);
        background-color: #EBEBEB;
    }
    @include media($tablet) {
        @include font(20px, 24px, 400, $font-main);
        padding: 14px 26px;
    }
    @include media($desktop) {
        &:hover {
            background-color: #EBEBEB;
            color: #444444
        }
    }
}

.btn--medium-tablet {
    @include media($tablet) {
        @include font(20px, 24px, 400, $font-main);
        padding: 14px 26px;
    }
}

.btn__show {
    background-color: #F2F2F2;
    @include media($tablet) {
        margin-right: var(--product-spacing-x);
        margin-left: var(--product-spacing-x);
        width: auto;
    }
    @include media($desktop) {
        &:hover {
            background-color: #EBEBEB;
            color: #444444
        }
    }
}


.btn__book {
    @include font(16px, 20px, 400, $font-main);
    width: 100%;
    @include media($desktop) {
        padding: 9px 26px;
        width: 224px;
    }
}

.btn__send {
    margin-bottom: 25px;
    @include media($tablet) {
        margin-bottom: 0;
    }
}

.btn:disabled {
    pointer-events: none;
    cursor-poiner: none;
    opacity: .5;
}
