.btn {
    border: 0;
    background-color: transparent;
    color: #000;
    text-decoration: none;
    @include font(20px, 20px, 400, $font-main);
    cursor: pointer;
    border-radius: 0;
    padding: 4px 8px;
    display: inline-block;
    vertical-align: top;
    text-transform: uppercase;
    transition: background-color 0.2s ease, color 0.2s ease, opacity 0.2s ease;
}

.btn--xl{
    padding: 7px 44px;
    margin: 0 auto;
    display: block;
}

.btn--brand{
    color: #fff;
}