.catalog__list {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    @include media($desktop) {
        display: flex;
        justify-content: space-between;
    }
}

.catalog__item {
    background-color: $secondary-bg;
    list-style: none;
    padding: 24px 33px 22px 22px;
    margin-bottom: 20px;
    @include media($tablet) {
        position: relative;
        padding: 77px 62px 57px 52px;
        margin-bottom: 30px;
    }
    @include media($tablet) {
        padding: 47px 61px 59px 52px;
    }
    
}

.catalog__item-wrap {
    display: flex;
    align-items: center;
    margin-bottom: 22px;
    @include media($tablet) {
        margin-bottom: 24px;
    }
}

.catalog__caption {
    margin: 0;
    @include font(24px, 37px, 400, $font-main);
    text-transform: uppercase;
    padding-left: 19px;
    @include media($tablet) {
        @include font(36px, 36px, 400, $font-main);
        padding-left: 0;
    }
    @include media($tablet) {
        padding-left: 62px;
    }
}

.catalog__descr {
    @include font(14px, 18px, 400, $font-submain);
    color: #444;
    margin-top: 0;
    margin-bottom: 23px;
    max-width: 451px;
    text-align: justify;
    @include media($tablet) {
        @include font(16px, 24px, 400, $font-submain);
        max-width: 340px;
        margin-bottom: 52px;
    }
    @include media($desktop) {
        @include font(16px, 24px, 400, $font-submain);
        max-width: 457px;
    }
}

.catalog__link {
    padding-top: 19px;
    @include font(16px, 16px, 400, $font-main);
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
    width: 100%;
    display: block;
    border-top: 1px solid #D9D9D9;
    @include media($tablet) {
        border-top: none;
        @include font(20px, 30px, 400, $font-main);
        padding-top: 0;
    }
    @include media($desktop) {
        &:hover {
            color: rgba(0, 0, 0, 0.1);
        }
    }
}

.catalog__link-pic {
    padding-left: 15px;
}

.catalog__icon {
    width: 50px;
    height: 53px;
    @include media($tablet) {
        width: 200px;
        height: 211px;
        position: absolute;
        right: 62px;
        bottom: 80px;
        left: 477px;
    }
    @include media($desktop) {
        position: static;
        width: 100px;
        height: 106px;
        order: -1;
    }
}

.catalog__icon--back {
    width: 67px;
    height: 53px;
    @include media($tablet) {
        position: absolute;
        width: 268px;
        height: 200px;
        top: 92px;
        right: 62px;
        bottom: 80px;
    }
    @include media($desktop) {
        position: static;
        width: 134px;
        height: 100px;
    }
}
