.catalog__list {
    margin: 0 20px;
    padding: 0;
}

.catalog__item {
    background-color: $secondary-bg;
    list-style: none;
    padding: 24px 33px 22px 22px;
    margin-bottom: 20px;
}

.catalog__title {
    display: flex;
    align-items: center;
    padding-bottom: 22px; 
}

.catalog__caption {
    @include font(24px, 37px, 400, $font-main);
    text-transform: uppercase;
    padding-left: 19px;
}

.catalog__descr {
    @include font(14px, 18px, 400, $font-submain);
    color: #444;
    margin: 0;
    padding-bottom: 23px;
    max-width: 230px;
    border-bottom: 1px solid #D9D9D9;
    margin-bottom: 19px;
}

.catalog__link {
    padding-bottom: 22px;
    @include font(16px, 16px, 400, $font-main);
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
}

.catalog__link-pic{
    padding-left: 15px;
}

.catalog__icon{
    width: 50px;
    height: 53px;
}

.catalog__icon--back{
    width: 67px;
    height: 53px;
}