.catalog{
    margin-bottom: 20px;
    @include media($tablet) {
        margin-bottom: 45px;
    }
}

.catalog__list {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    @include media($desktop) {
        display: flex;
        justify-content: space-between;
    }
}

.catalog__item {
    position: relative;
    background-color: $secondary-bg;
    list-style: none;
    padding: 30px 33px 22px 22px;
    margin-bottom: 20px;
    @include media($tablet) {
        position: relative;
        padding: 73px 61px 59px 53px;
    }
    @include media($desktop) {
        padding-top: 42px;
        padding-left: 52px;
    }
}

.catalog__item::after{
    content: "";
    background-image: url("../img/cat-slim.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 50px;
    height: 53px;
    position: absolute;
    top: 21px;
    left: 22px;
    bottom: 192px;
    @include media($tablet) {
        width: 200px;
        height: 211px;
        position: absolute;
        top: 92px;
        left: 70%;
        bottom: 80px;
    }
    @include media ($desktop){
        background-image: url("../img/cat-slim.svg");
        width: 100px;
        height: 100px;
        top: 47px;
        left: 52px;
        bottom: 227px;
    }
}

.catalog__item-back::after{
    content: "";
    width: 67px;
    height: 50px;
    background-image: url("../img/cat-back.svg");
    @include media($tablet) {
        width: 268px;
        height: 200px;
        right: 62px;
        bottom: 80px;
        left: 60%;
    }
    @include media ($desktop){
        background-image: url("../img/cat-slim.svg");
        width: 134px;
        height: 100px;
        top: 47px;
        left: 52px;
        bottom: 227px;
    }
}

.catalog__caption {
    margin: 0;
    margin-bottom: 29px;
    @include font(24px, 37px, 400, $font-main);
    text-transform: uppercase;
    padding-left: 65px;
    @include media($tablet) {
        @include font(36px, 36px, 400, $font-main);
        padding-left: 0;
    }
    @include media($tablet) {
        padding-left: 0;
    }
    @include media($desktop) {
        padding-left: 114px;
        margin-bottom: 73px;
    }
}

.catalog__caption-back{
    @include media($desktop) {
        padding-left: 48px;
    }
}

.catalog__descr {
    @include font(14px, 18px, 400, $font-submain);
    color: #444;
    margin-top: 0;
    margin-bottom: 23px;
    max-width: 451px;
    text-align: justify;
    @include media($tablet) {
        @include font(16px, 24px, 400, $font-submain);
        max-width: 340px;
        margin-bottom: 52px;
    }
    @include media($desktop) {
        @include font(16px, 24px, 400, $font-submain);
        max-width: 457px;
        margin-bottom: 27px;
    }
}

.catalog__descr-back{
    @include media($desktop) {
        margin-bottom: 33px;
    }

}

.catalog__link {
    padding-top: 17px;
    @include font(16px, 16px, 400, $font-main);
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
    width: 100%;
    display: flex;
    align-items: center;
    border-top: 1px solid #D9D9D9;
    @include media($tablet) {
        border-top: none;
        @include font(20px, 30px, 400, $font-main);
        padding-top: 0;
    }
    @include media($desktop) {
        &:hover {
            color: rgba(0, 0, 0, 0.1);
        }
    }
}

.catalog__link-pic {
    padding-left: 15px;
    @include media($tablet){
        padding-left: 26px;
    }
}

.catalog__icon {
    width: 50px;
    height: 53px;
    @include media($tablet) {
        width: 200px;
        height: 211px;
        position: absolute;
        right: 62px;
        bottom: 80px;
        left: 446px;
    }
    @include media($desktop) {
        position: static;
        width: 100px;
        height: 106px;
        order: -1;
    }
}

.catalog__icon--back {
    width: 67px;
    height: 53px;
    @include media($tablet) {
        position: absolute;
        width: 268px;
        height: 200px;
        right: 62px;
        bottom: 80px;
        left: 412px;
    }
    @include media($desktop) {
        position: static;
        width: 134px;
        height: 100px;
    }
}
