.container{
    max-width: 1480px;
    margin: 0 auto;
    box-sizing: border-box;
    padding-left: $gatter-X-mobile;
    padding-right: $gatter-X-mobile;
    margin-bottom: 20px;
    @include media($tablet) {
        padding-left: $gatter-X-tablet;
        padding-right: $gatter-X-tablet;
        margin-bottom: 45px;    
    }
    @include media($desktop) {
        padding-left: $gatter-X-desktop;
        padding-right: $gatter-X-desktop;
        margin-bottom: 70px;    
    }

}