.fieldset{
    border: 0;
    padding: 0;
    margin: 0;
}

.fieldset__form{
    
}

.fieldset__wrap{
    padding-left: $gatter-X-mobile;
    padding-right: $gatter-X-mobile;
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 24px;
    @include media($tablet) {
        padding-left: $gatter-X-tablet;
        border-bottom: 0;
        margin-bottom: 72px;
    }
}