.field {
    display: flex;
    align-items: center;
    column-gap: 13px;
    margin-bottom: 17px;
}

.field__label {
    @include font(16px, 18px, 400, $font-main);
    text-transform: uppercase;
    color: #444444;
    flex-shrink: 0;
}

.field__data {
    width: 100%;
    display: flex;
    align-items: center;
    border: 1px solid #E7e7e7;
    box-sizing: border-box;
    @include media($desktop) {
        &:hover {
            border: 1px solid #CDCDCD;
        }
    }
}

.field__input {
    box-sizing: border-box;
    display: block;
    width: 100%;
    @include font(16px, 18px, 400, $font-main);
    text-transform: uppercase;
    border-radius: 0;
    outline: 0;
    border: 0;
    flex-shrink: 1;
    padding: 9px 12px 13px 20px;
}

.field__input::placeholder {
    color: #444444;
    opacity: 1;
    border-radius: 0;
}

.field__data--error {
    box-shadow: 0 0 0 2px #FF8282;
    border-radius: 0;
    border: 0;
    &:hover{
        border: 0;
    }
}

.field__data:focus{
    box-shadow: 0 0 0 2px #444444;
    border-radius: 0;
}

.field__icon{
    flex-shrink: 0;
    margin-right: 10px;
}

.field--about {
    display: block;
    padding-bottom: 0;
    border: 1px solid #E7e7e7;
}

.field__input--area {
    padding: 9px 12px 0 15px;
    height: 150px;
    resize: none;
    width: 100%;
    box-sizing: border-box;
    @include media($tablet) {
        height: 160px;
    }
    &::placeholder {
        color: #444444;
        opacity: 1;
    }
}

.field--bottom{
    margin-bottom: 0;
}
