.footer{
    background-color: #F2F2F2;
}

.footer__wrap{
    padding: 40px 20px 48px;
    @include media($tablet) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 45px;
        padding-right: 28px;
        padding-left: 32px;
    }
    @include media($desktop) {
        padding-left: $gatter-X-desktop;
        padding-right: $gatter-X-desktop;
        padding-top: 49px;
    }
}

.footer__logo-pic{
    display: block;
    margin: 0 auto;
    width: 128px;
    height: 24px;
    margin-bottom: 18px;
    @include media($tablet) {
        margin-bottom: 0;
    }
    @include media($desktop) {
        width: 143px;
        height: 26px;
    }
}