.form__field{
    margin-bottom: 32px;
    @include media($tablet) {
        margin-bottom: 0;
    }
}

.form__about{
    margin-bottom: 23px;
    @include media($tablet) {
        margin-bottom: 65px;
    }
}

.form__apps{
    margin-bottom: 72px;
}

.form__contact{
    @include media($tablet) {
        margin-bottom: 65px;
    }
}

.form__information--wrap{
    padding-left: $gatter-X-mobile;
    padding-right: $gatter-X-mobile;
    border-bottom: 1px solid #d9d9d9;
    @include media($tablet) {
        padding-left: $gatter-X-tablet;
        border-bottom: 0;
        margin-bottom: 72px;
    }
}

.form__title{
    @include font(24px, 26px, 400, $font-main);
    margin-bottom: 35px;
    padding-top: 26px;
    @include media($tablet) {
        @include font(36px, 36px, 400, $font-main);
    }
}

.form__title--about{
    padding-top:0;
    margin-bottom: 37px;
    margin-top: 0;
    @include media($tablet) {
        margin-bottom: 76px;
    }
}

.form__title--contact{
    padding-top: 0;
    margin-bottom: 35px;
    margin-top: 0;
    @include media($tablet) {
        margin-bottom: 76px;
        flex-shrink: 0;
    }
}

