.form__field{
    margin-bottom: 32px;
}

.form__about{
    margin-bottom: 23px;
}

.form__information--wrap{
    padding-left: $gatter-X-mobile;
    padding-right: $gatter-X-mobile;
    border-bottom: 1px solid #d9d9d9;
}

.form__title{
    @include font(24px, 26px, 400, $font-main);
    margin-bottom: 35px;
    padding-top: 26px;
}

.form__title--about{
    padding-top:0;
    margin-bottom: 37px;
    margin-top: 0;
}

.form__title--contact{
    padding-top: 0;
    margin-bottom: 35px;
    margin-top: 0;
}

