.header {
    --header-bottom-offset: 201px;
    @include media($desktop) {
        position: relative;
        padding-top:55px;
        margin-bottom: 82px;
    }
}

.header:after{
    @include media($desktop) {
        content: "";
        background-color: #000000;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        left: 50%;
        width: 50vw;
        z-index: -1;
        @include cat-bg('../img/cat-bg-desktop.jpg', '../img/cat-bg-desktop-2x.jpg');
    }
}

.header__wrap {
    padding: 10px 20px 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include media($tablet) {
        padding: 0;
        margin-bottom: 63px;
    }
    @include media($desktop) {
        padding-left: $gatter-X-desktop;
        padding-right: $gatter-X-desktop;
        margin-bottom: 104px;
    }
}

.header__wrap-logo {
    display: flex;
    align-items: center;
    flex-grow: 1;
    @include media($tablet) {
        flex-grow: 0;
    }
}

.header__burger {
    width: 32px;
    height: 32px;
    margin-left: 2px;
    padding: 0;
    border: 0;
    cursor: pointer;
    display: block;
    z-index: 6;
    position: relative;
    background-color: transparent;
    @include media($tablet) {
        display: none;
    }
}

.header__burger-line {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 2px;
    width: 25px;
    left: 50%;
    background-color: #000;
}

.header__burger-line::before,
.header__burger-line::after {
    content: "";
    height: 2px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(7px);
    background-color: #000;
    transition: transform 0.2s ease;
}

.header__burger span::after {
    transform: translateY(-7px);
}

.header__burger-line span::after {
    transform: translateY(-7px);
}

.header__burger._active .header__burger-line {
    background-color: transparent;
}

.header__burger._active .header__burger-line::before {
    transform: translateY(0) rotate(45deg);
    background-color: #000;
}
.header__burger._active .header__burger-line::after {
    transform: translateY(0) rotate(-45deg);
    background-color: #000;
}

.header__burger-line:hover {
    color: rgba(129, 179, 210, 0.6);
}

.header__content-wrap {
    padding-left: $gatter-X-mobile;
    padding-right: $gatter-X-mobile;
    padding-top: 27px;
    margin-bottom: 20px;
    @include media($tablet) {
        padding-top: 0;
        margin-bottom: 0;
    }
}

.header__content {
    position: relative;
    isolation: isolate;
    @include cat-bg('../img/cat-bg.jpg');
    background-clip: content-box;
    padding-bottom: var(--header-bottom-offset);
    @include media($tablet) {
        background-image: none;
    }

}

.header__promo {
    margin-bottom: calc(var(--header-bottom-offset) * -1);

}

// .header__content::after{
//     content: "";
//     background-color: rgba($brand-color, 0.85);
//     position: absolute;
//     inset: 0;
//     z-index: -1;
// }

.header__heading {
    max-width: 250px;
    margin: 0 auto 29px;
    @include media($tablet) {
        max-width: 414px;
        margin-left: 100px;
        margin-bottom: 20px;
    }
    @include media($desktop) {
        margin-left: 169px;
        margin-bottom: 23px;
    }
}

.header__title {
    @include font(36px, 36px, 400, $font-main);
    color: #fff;
    margin: 0 0 25px;
    text-align: center;
    @include media($tablet) {
        @include font(60px, 60px, 400, $font-main);
        color: #000000;
        text-align: left;
        margin-bottom: 41px;
    }
}

.header__decr {
    @include font(14px, 14px, 400, $font-main);
    color: #fff;
    margin: 0;
    text-transform: uppercase;
    text-align: center;
    @include media($tablet) {
        @include font(20px, 20px, 400, $font-main);
        color: #000000;
        text-align: left;
    }
}

.header__logo {
    flex-grow: 1;
    display: flex;
    align-items: center;
    @include media($tablet) {
        margin-left: 31px;
    }
    @include media($desktop) {
        &:hover{
            opacity: 0.6;
            transition: opacity 0.2s ease;
        }
    }
}

.header__logo-pic {
    width: 33px;
    height: 38px;
    @include media($tablet) {
        width: 60px;
        height: 50px;
    }
    @include media($desktop) {
        width: 70px;
        height: 60px;
    }
}
