.logo__title-icon{
    color: #111111;
    margin: 0 auto;
    @include media($tablet){
        margin-left: 12px;
    }
    @include media($desktop){
        width: 118px;
        height: 21px;
        margin-left: 14px;
    }
    
}