.map {
    position: relative;
}

.map__container {
    @include media($desktop) {
        position: absolute;
        inset: 0;
    }
}

.map__heading {
    padding: 26px 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @include media($tablet) {
        padding: 60px 70px;
    }
    @include media($desktop) {
        position: absolute;
        left: 110px;
        top: 95px;
        background-color: #ffffff;
        padding: 60px 60px 56px 80px;
    }
}

.map__title {
    margin: 0;
    @include font(16px, 20px, 400, $font-main);
    text-transform: uppercase;
    max-width: 210px;
    @include media($tablet) {
        @include font(20px, 26px, 400, $font-main);
        max-width: 175px;
    }
    @include media($desktop) {
        padding-right: 35px;
    }
}

.map__descr {
    max-width: 210px;
    margin: 0;
    @include font(14px, 20px, 400, $font-submain);
    @include media($tablet) {
        max-width: 160px;
        @include font(16px, 20px, 400, $font-submain);
        text-align: right;
        margin-left: auto;
    }
    @include media($desktop) {
        text-align: left;
    }
}

.map__pic {
    width: 100%;
    height: 362px;
    object-fit: cover;
    display: block;
    @include media($tablet) {
        height: 400px;
    }
}

.map__pic-pin {
    width: 50px;
    height: 53px;
    position: absolute;
    left: 50%;
    top: 50%;
}


.map__btn-pin {
    background-image: url('../img/map-pin.png');
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    width: 57px;
    height: 53px;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    @include media($tablet) {
        width: 113px;
        height: 106px;
    }
}
