.nav {
    position: absolute;
    top: 66px;
    right: 0;
    left: 0;
    z-index: 5;
    transition: opacity 0.2s ease;
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    @include media($tablet){
        position: static;
        opacity: 1;
        transition: none;
        visibility: visible;
        padding-top: 10px;
    }
}

.nav._active {
    opacity: 1;
    visibility: visible;
}

.nav__list {
    margin: 0;
    padding: 0;
    background-color: #fff;
    @include media($tablet){
        display: flex;
        gap: 35px;
        margin-right: 30px;
    }
}

.nav__item {
    list-style: none;
    @include font(20px, 20px, 500, $font-main);
    white-space: nowrap;
    position: relative;
    @include media($tablet){
        @include font(18px, 24px, 400, $font-main);
    }
}

.nav__link {
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    cursor: pointer;
    display: block;
    text-align: center;
    padding: 22px 0 24px;
    border-top: 1px solid #E6E6E6;
    @include media($tablet){
        border-top: 0;
        padding: 0;
        padding-bottom: 8px;
        border-bottom: 2px solid transparent;
        &:active{
            border-bottom-color: #68B738;
        }
    }
    @include media($desktop){
        &:active{
            border-bottom-color: #ffffff;
    }
    }
}