.nav {
    position: absolute;
    top: 66px;
    right: 0;
    left: 0;
    z-index: 5;
    transition: opacity 0.2s ease;
    overflow: auto;
    opacity: 0;
    visibility: hidden;
}

.nav._active {
    opacity: 1;
    visibility: visible;
}

.nav__list {
    position: relative;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

.nav__item {
    list-style: none;
    @include font(20px, 20px, 500, $font-main);
    white-space: nowrap;
    position: relative;
}

.nav__link {
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    cursor: pointer;
    display: block;
    text-align: center;
    padding: 22px 0 24px;
    border-top: 1px solid #E6E6E6;
    ;
    }