.options .container {
    margin-bottom: 0;
}

.options__link {
    text-decoration: none;
}

.options__title {
    margin: 0;
    @include font(24px, 24px, 400, $font-main);
    padding-bottom: 36px;
    border-bottom: 1px solid #CDCDCD;
    @include media($tablet) {
        @include font(36px, 36px, 400, $font-main);
    }
}

.options__list {
    padding-left: 0;
    list-style-type: none;
    margin: 0;
}

.options__item {
    padding-top: 13px;
    padding-bottom: 19px;
    border-bottom: 1px solid #CDCDCD;
    margin-bottom: 12px;
}

.options__subtitle {
    margin: 0 0 13px;
    @include font(16px, 16px, 400, $font-main);
    text-transform: uppercase;
    color: #222222;

}

.options_descr {
    margin: 0;
    @include font(14px, 14px, 400, $font-submain);
    display: flex;
    justify-content: space-between;
    color: #444444;
    margin-bottom: 15px;

}

.options__coin {
    @include media($tablet) {
        margin-left: 49px;
    }
}
