.plus{
    --box-bg-gradient: linear-gradient(#d3d3d3, #d3d3d3) no-repeat center center;
    width: 30px;
    height: 30px;
    background: var(--box-bg-gradient) / 2px 100%, var(--box-bg-gradient) / 100% 2px;
    margin-bottom: 23px;
    @include media($tablet) {
        width: 60px;
        height: 60px;
    }
}