.present {
    @include present-bg('../img/cat-backpack-desktop.png');
    background-color: rgba(104, 183, 56, 0.85);
    background-position: center center;
    @include media($tablet) {
        @include present-bg('../img/cat-backpack-tablet.png');
        display: flex;
        align-items: center;
    }
    @include media($desktop) {
        @include present-bg('../img/cat-backpack-desktop.png');
        background-color: rgba(104, 183, 56, 0.85);
        display: block;
    }
}

.present__icon{
    display: block;
    margin: 0 auto 48px;
    padding-top: 59px;
    @include media($desktop) {
        
    }
}

.present__title{
    margin: 0 auto;
    @include font(16px, 20px, 400, $font-submain);
    color: #ffffff;
    text-align: center;
    max-width: 160px;
    padding-bottom: 43px;
    @include media($tablet) {
        padding: 0;
        text-align: left;
    }
    @include media($tablet) {
        text-align: center;
    }
}
