.product {
    
}

.product__list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    @include media($tablet) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 60px;
    }
    @include media($desktop) {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}

.product__item {
    padding-top: 19px;
    padding-bottom: 25px;
    border-bottom: 1px solid #ebebeb;
    @include media($tablet) {
        padding-top: 0;
        background: linear-gradient(
            #ffffff 45px,
            #f2f2f2 45px
        );
}
}

.product__link {
    text-decoration: 0;
}

.product__card--show{
    position: relative;
}

.product__card--show::after,
.product__card--show::before{
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    top: 25px;
    border: 2px solid red;
}
