.products {
    padding: 0;
    margin: 0;
    margin-bottom: 25px;
    @include media($tablet) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 60px;
        row-gap: 141px;
    }
    @include media($desktop) {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 80px;
    }
}

.products__item {
    list-style-type: none;
    padding-top: 19px;
}

.products__item--show {
    padding-top: 23px;
    @include media($tablet) {
        display: flex;
    }
}

.product {
    --product-spacing-x: 30px;
    position: relative;
    padding-bottom: 25px;
    border-bottom: 1px solid #EBEBEB;
    padding-left: $gatter-X-mobile;
    padding-right: $gatter-X-mobile;
    @include media($tablet) {
        display: flex;
        flex-direction: column;
        background-color: #f2f2f2;
        padding-bottom: 39px;
        border-bottom: none;
        padding-left: 0;
        padding-right: 0;
    }
}

.product--show {
    padding-top: 0;
    @include media($tablet) {
        background-color: #ffffff;
        border: 1px solid #D3d3d3;
    }
}

.product__link {
    text-decoration: none;
    display: flex;
    align-items: center;
    column-gap: 36px;
    padding-bottom: 7px;
    &:after {

        position: absolute;
        inset: 0;
    }
    @include media($tablet) {
        display: grid;
        grid-template-rows: 200px auto;
        padding-left: var(--product-spacing-x);
        padding-right: var(--product-spacing-x);
        padding-bottom: 0;
        margin-top: -40px;
    }
}

.product__link--large {
    column-gap: 27px;
}

.product__pic {
    margin: 0 auto;
    width: 68px;
    height: 86px;
    @include media($tablet) {
        width: 161px;
        height: 172px;
        grid-row: 1 / 2;
        align-self: flex-end;
        padding-left: 0;
        margin-bottom: 34px;
    }
    @include media($desktop) {
        margin-bottom: 42px;
    }
}

.product__description {
    flex-grow: 1;
}

.product__title {
    @include font(16px, 20px, 400, $font-main);
    color: #222222;
    max-width: 76px;
    text-transform: uppercase;
    margin: 0 0 14px;
    padding: 0;
    @include media($tablet) {
        margin: 0 auto 21px;
        text-align: center;
        max-width: 125px;
        @include font(20px, 24px, 400, $font-main);
    }
    @include media($desktop) {
        @include font(20px, 22px, 400, $font-main);
    }
}


.product__info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 0 22px;
    @include media($desktop) {
        margin-bottom: 33px;
    }
}

.product__data-key {
    @include font(12px, 16px, 400, $font-submain);
    color: #444444;
    @include media($tablet) {
        @include font(16px, 16px, 400, $font-submain);
        border-bottom: 1px solid #CDCDCD;
        padding-bottom: 9px;
        padding-top: 7px;
    }

}

.product__data-value {
    @include font(12px, 16px, 400, $font-submain);
    color: #444444;
    margin: 0;
    text-align: right;
    @include media($tablet) {
        @include font(16px, 16px, 400, $font-submain);
        border-bottom: 1px solid #CDCDCD;
        padding-bottom: 9px;
        padding-top: 7px;
    }
}

.product__btn {
    @include media($tablet) {
        margin-right: var(--product-spacing-x);
        margin-left: var(--product-spacing-x);
        position: relative;
        z-index: 1;
        width: auto;
    }
}

.product__pic--large {
    width: 84px;
    height: 100px;
    @include media($tablet) {
        width: 168px;
        height: 206px;
        padding-left: 0;
        margin-bottom: 28px;
    }
    @include media($desktop) {
        margin-bottom: 46px;
    }
}

.product__link--show {
    display: block;
    padding-bottom: 0;
    @include media($tablet) {
        display: grid;
        flex-grow: 1;
        margin-top: 0;
    }

    .product__title--show {
        max-width: 204px;
        margin: 0 auto 8px;
        @include media($tablet) {
            margin-bottom: 23px;
        }
        @include media($desktop) {
            max-width: 134px;
            text-align: center;
        }
    }


    .product__descr {
        margin: 0;
        padding: 0;
        @include font(12px, 16px, 400, $font-submain);
        text-align: center;
        color: #444444;
        @include media($tablet) {
            max-width: 165px;
            margin: 0 auto;
            line-height: 18px;
        }
    }

    .product__description--show {
        margin-bottom: 21px;
        @include font(16px, 20px, 400, $font-main);
        @include media($tablet) {
        }
        @include media($desktop) {
        }
    }
}

.product__img{
    max-width: 100%;
    width: auto;
    height: auto;
}