.product .container {
    margin-bottom: 0;
}

.product__list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    @include media($tablet) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 60px;
        row-gap: 141px;
        margin-bottom: 68px;
    }
    @include media($desktop) {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin-bottom: 75px;
    }
}

.product__wrap {
    @include media($tablet) {
        padding-left: 39px;
        padding-right: 37px;
        padding-bottom: 39px;
    }
}

.product__wrap--show{
    @include media($tablet) {
        padding-top: 60px;
    }
}

.product__item {
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #ebebeb;
    @include media($tablet) {
        padding-top: 0;
        padding-bottom: 0;
        background: linear-gradient(#ffffff 45px, #f2f2f2 45px);
    }
}

.product__item--show {
    margin-bottom: 25px;
    @include media($tablet) {
        background: 0;
        border: 1px solid #d3d3d3;
        margin-bottom: 0;
    }
}

.product__link {
    text-decoration: none;
}

.product__card--show {}

.product__btn--show {
    --bt-show: linear-gradient(#d3d3d3, #d3d3d3) no-repeat center center;
    width: 30px;
    height: 30px;
    position: relative;
    background: var(--bt-show) / 2px 100%, var(--bt-show) / 100% 2px;
    margin: 0 auto;
    margin-bottom: 23px;
    @include media($tablet) {
        width: 60px;
        height: 60px;
        margin-bottom: 49px;
    }
}
