.promo{
    display: flex;
    flex-direction: column;
    align-items: center;
    @include media($tablet) {
        position: relative;
    }
}

.promo__btn{
    font-size: 14px;
    order: 1;
    width: 100%;
    @include media($tablet) {
        width: 244px;
        position: absolute;
        top: 29px;
        left: 118px;
        @include font(20px, 24px, 400, $font-main);
    }
    @include media($desktop) {
        left: 200px;
    }
}

.promo__pic{
    @include media($tablet) {
        width: 709px;
        height: 609px;
    }
    @include media($desktop) {
        width: 552px;
        height: 499px;
        margin-top: -250px;
        margin-left: 230px;
    }
}
