.slider{
    @include media($tablet) {
        background: linear-gradient(
            #ffffff 151px,
            #EAEAEA 151px
        );
        padding-bottom: 100px;
    }
}

.slider__wrap {
    width: 280px;
    height: 256px;
    position: relative;
    margin: 0 auto;
    position: relative;
    @include media($tablet) {
        width: 560px;
        height: 512px;
        background: linear-gradient(
            #ffffff 151px,
            #EAEAEA 151px
        );
    }
}

.slider__list {
    text-decoration: none;
    list-style-type: none;
}

.slider__range{
    width: 4px;
    background-color: currentColor;
    color: #666666;
    position: absolute;
    transform: translateX(-50%);
    top: 0;
    bottom: 0;
    left: var(--cat-width);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    transition: opacity 0.2s ease, color 0.2s ease;
    &:active{
        color: #5EAA2F;
        opacity: 0.6;
    }
    @include media($desktop) {
        &:hover{
            color: #68B738;
        }
    }
    }

.slider__range-round{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid currentColor;
    flex-shrink: 0;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider__item {
    width: var(--cat-width);
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.slider__item:first-child{
    z-index: 1;
}

.slider__item:last-child{
    width: calc(100% - var(--cat-width));
    left: auto;
    right: 0;  
    display: flex;
    justify-content: flex-end;
}

.slider__pic{
    width: 280px;
    height: 256px;
    object-fit: cover;
    @include media($tablet) {
        width: 560px;
        height: 512px;
    }
}
