.target {
    display: block;
    padding-bottom: 17px;
    margin: 0 auto;
    flex-shrink: 0;
    border-bottom: 1px solid #d9d9d9;
    @include media($tablet) {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        padding: 0 26px;
        border-bottom: none;
    }
    @include media($desktop) {
        padding: 0;
    }
}
.target__wrap {
    padding-left: $gatter-X-mobile;
    padding-right: $gatter-X-mobile;
    @include media($tablet) {
        border: 1px solid #e7e7e7;
        margin-bottom: 75px;
        padding: 25px;
    }
}

.target__label{
    padding-left: 16px;
}

.target__label {
    @include font(16px, 18px, 400, $font-main);
    text-transform: uppercase;
}


.target__origin {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.target__psevdo {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #CDCDCD;
    position: relative;
    flex-shrink: 0;
    @include media($desktop) {
        &:hover{
            border-color: #BABABA;
        }
    }
}

.target__psevdo:after {
    content: "";
    position: absolute;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: #68B738;
    left: 9px;
    top: 9px;
    opacity: 0;
    transform: scale(0);
    transition: transform 0.2s ease, opacity 0.2s ease;
}

.target__origin:checked ~ .target__psevdo:after {
    transform: scale(1);
    opacity: 1;
}

.target--inline {
    display: flex;
    align-items: center;
    padding-bottom: 14px;
    @include media($tablet) {
        max-width: 280px;
        width: 300px;
    }
    &:last-child{
        padding-bottom: 0;
    }

}



